NEXT_PUBLIC_SUPABASE_URL=https://zmtrxjlcdyhhfuzminwx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InptdHJ4amxjZHloaGZ1em1pbnd4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgwNjE4NzAsImV4cCI6MjEwMzYzNzg3MH0.ngAPMKX-QjtCI25Scs7qvY18d8f0naK5xwWQsJE2J3U
ADMIN_USERNAME=
ADMIN_PASSWORD=
IMAGE_API_ORIGIN=
IMAGE_API_AUTH_TOKEN=
